<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="profile"><img src="./assets/imgs/navbar-log2o.svg" class="img-fluid" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars-staggered"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>name: {{Name()}} </span> <br>
            <span>email : {{Email()}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="profile"><i class="fa-solid fa-user"></i>Profile</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="changepass"><i class="fa-solid fa-lock"></i> ChangePass</a></li>
            <li><a class="dropdown-item" routerLinkActive="active" routerLink="updateprofile"><i class="fa-solid fa-notes-medical"></i>UpdateProfile</a></li>

          </ul>
        </li>





      </ul>

      <button class="btn"  (click)="this._AuthService.signOut()"> <i class="fa-solid fa-arrow-right-from-bracket"></i> LogOut</button>

    </div>
  </div>
</nav>
