
.register {
  width: 100%;
  height: 150vh;
  background-image: url(../../../assets/imgs/login-background.jpeg);
  background-size: cover;
   padding-top: 50px;
}


.register .register-about {
 width: 50%;
  height: auto;
  margin: auto;
background-color: #315951e5;
  margin-bottom: 60px !important;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}


.register .register-about .register-head h3 {
   text-align: center;
  padding-top: 25px;
  color: #fff3c4;
  margin-bottom: 12px;
  font-size: 23px;
  text-decoration: underline;
}


.register .register-about .form {
  width: 100%;
  height: auto;
}

.register .register-about .form .form-head h6 {
   text-align: center;
  color: #ef9b28;
  font-size: 21px;
}




.register .register-about .form .form-info label {
   width: 100%;
  margin-left: 15px;
  margin-bottom: 10px;
  /* margin-top: 10px; */
  color: #fff3c4;
}


.register .register-about .form .form-info .form-control {
   width: 95%;
  height: auto;
  margin-left: 15px;
  background-color: #fff7e0;
  transition: 0.3s ease;
}




.register .register-about .form .btn {
  margin-left: 35px;
  margin-top: 30px;
  background-color: #f3b157;
  margin-bottom: 25px;
  width: 28%;
  color: #fff7e0;
  transition: ease all 1s;
}

.register .register-about .form .btn:hover {
    background-color: #ef9b28;

}
.register .form .alert {
  width: 95%;
  height: 48px;
  padding: 6px;
  margin-left: 15px;

}

.register .form .alert p {

  font-size: 14px;
  margin-left: 8px;
}




@media (max-width:767px) {


  .register .register-about {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}


@media (min-width:768px) and (max-width:1023px) {


    .register .register-about {
    width: 100%;
    height: auto;
    overflow: hidden;
  }


  .register {
  width: 100%;
  height: 150vh;
  background-image: url(../../../assets/imgs/login-background.jpeg);
  background-size: cover;
   padding-top: 250px;
}


}
