
.edit-user-info {
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/imgs/register-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;

}


.edit-user-info .edit-details {
  width: 50%;
  height: auto;
  margin: auto;
  background-color: #315951e5;
  margin-bottom: 60px !important;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.edit-user-info .edit-details .edit-head h6 {
    text-align: center;
  padding-top: 25px;
  color: #fff3c4;
  margin-bottom: 12px;
  font-size: 23px;
  text-decoration: underline;
}

.edit-user-info .edit-details .form {
  width: 100%;
  height: auto;
}

.edit-user-info .edit-details .form .form-info {
  margin-bottom: 10px;
}

.edit-user-info .edit-details .form .form-info label {
     width: 100%;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #fff3c4;
}

.edit-user-info .edit-details .form .form-info  .form-control {
     width: 95%;
  height: auto;
  margin-left: 15px;
  background-color: #fff7e0;
  transition: 0.3s ease;
}


/* .edit-user-info .edit-details .form .form-info-last   .form-control {

} */

/* شكل البوكس نفسه */
.edit-user-info .edit-details .form .form-info-last   input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #0d6efd; /* يخلي لون الصح أزرق زي البوتستراب */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* لما تقف عليه */
.edit-user-info .edit-details .form .form-info-last   input[type="checkbox"]:hover {
  transform: scale(1.1);
  box-shadow: 0 0 6px rgba(13, 110, 253, 0.5);
}

/* لما يبقى متعلم عليه */
.edit-user-info .edit-details .form .form-info-last  input[type="checkbox"]:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.edit-user-info .edit-details .form .form-info-last label {
   margin-left: 15px;
  margin-bottom: 10px;
  color: #fff3c4;
  margin-right: 10px;
}


.edit-user-info .edit-details .form .btn {
  margin-left: 35px;
  margin-top: 30px;
  background-color: #f3b157;
  margin-bottom: 25px;
  width: 28%;
  color: #fff7e0;
  transition: ease all 1s;
}

.edit-user-info .edit-details .form .btn:hover {
    background-color: #ef9b28;

}
.edit-user-info .form .alert {
  width: 95%;
  height: 48px;
  padding: 6px;
  margin-left: 15px;

}

.edit-user-info .form .alert p {

  font-size: 14px;
  margin-left: 8px;
}



@media (max-width:767px) {

  .edit-user-info .edit-details {
  width: 100%;
  overflow: hidden;
}

}




@media (min-width:768px) and (max-width:1023px) {

    .edit-user-info .edit-details {
  width: 100%;
  overflow: hidden;
}

}
