

.update-profile {
  width: 100%;
  height: 100vh;
  background-image: url(../../../assets/imgs/login-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 90px;
}


.update-profile .change-info {
    width: 50%;
  height: auto;
  margin: auto;
  background-color: #315951e5;
  margin-bottom: 60px !important;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}






.update-profile .change-info .form {
  width: 100%;
  height: auto;
}

.update-profile .change-info .form .form-head h5 {
  text-align: center;
  color: #ef9b28;
  font-size: 23px;
  padding-top: 22px;
  text-decoration: underline;
  margin-bottom: 10px;
}


.update-profile .change-info .form .form-head p {
  text-align: center;
  color: #fff3c4;
  font-size: 16px;
}


.update-profile .change-info .form .form-info {
  margin-bottom: 12px;
}
.update-profile .change-info .form .form-info label {
  width: 100%;
  margin-left: 15px;
  margin-bottom: 10px;
  /* margin-top: 10px; */
  color: #fff3c4;
}
.update-profile .change-info .form .form-info .form-control {
  width: 95%;
  height: auto;
  margin-left: 15px;
  background-color: #fff7e0;
  transition: 0.3s ease;
}




.update-profile .change-info .form .btn {
  margin-left: 35px;
  margin-top: 30px;
  background-color: #f3b157;
  margin-bottom: 25px;
  width: 28%;
  color: #fff7e0;
  transition: ease all 1s;
}

.update-profile .change-info .form .btn:hover {
  background-color: #ef9b28;
}


.update-profile .change-info .form .alert {
  width: 95%;
  height: 50px;
  padding: 8px;
  margin-left: 15px;

}

.update-profile .change-info .form .alert p {

  font-size: 15px;
  margin-left: 8px;
}





@media (max-width : 767px ) {



  .update-profile .change-info {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}


@media (min-width:768px) and ( max-width:1023px) {

 .update-profile .change-info {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

}
